.mode-card {
  padding: 20px 40px 15px 31px;
}

.radio-group {
  &.MuiFormGroup-root {
    flex-direction: row;
  }
}

.radio-button {
  &.MuiFormControlLabel-root {
    margin: 0;
  }

  .MuiTypography-body1 {
    color: darkcyan;
    font-size: 1.5rem;
  }
}
