$base-font-family: 'Roboto', sans-serif;
$navbar-height: 120px;
$card-bg-color: cornsilk;
$card-box-shadow:
    3px 3px 5px 3px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
$card-title-color: darkslateblue;
$form-input-bg-color: aliceblue;
$form-input-color: #580101;
$table-border: 1px solid grey;
